@import "bourbon/bourbon";
@import "neat/neat";
@import "custom/custom";

@include general;
@include headlines;

//mobile-first

.main-wrap {
  @include mobile-container;
}

.col {
  @extend .main-wrap;
  // background-color: $light-grey;
}

.contenr-wrap .thumbnail-wrap, .thumbnail-container, .thumbnail-container-feature, .sidebar-wrap  {
  width: 100%;
  float: left;
}

.hero {
  width: 100%;
}

.nav-wrap {
  background-color: $black;
  position: fixed;
  top: 0;
  z-index: 1;
  height: 50px;
  // @extent .hero;
}

.hero {
  margin-top: 50px;
  background-image: url('../img/firefighter-1.jpg');
  background-size: cover;
}

.hero {
  height: 200px;
}

.thumbnail-container {
  height: auto;
  margin-left: 0;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid $orange;
}

.thumbnail-container-feature {
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid $orange;
}


img {
  @include fluid-img;
}


.nav-wrap {
  color: $white;
  font-family: $helvetica;
  padding: 1em;
  ul li {
    display: inline;
    padding: 1em;
  }
}
.thumbnail-copy,  {
  padding-top: 20px;
}

.bottom-copy, .sidebar-copy {
  padding: 20px 20px 40px 20px;
}

@include breakpoint(phablet) {

.thumbnail-img, .thumbnail-img-feature {
  width: 300px;
  float: left;
  margin-right: 20px;
}

}

//tablet

@include breakpoint(tablet) {

  .content-wrap, .navigation {
    width: 100%;
    margin: auto;
  }

  .hero {
    position: relative;
  }

  .content-wrap {
    display: flex;
    flex-wrap: wrap;
  }

  .thumbnail-wrap {
    @include grid-column(8);
    background-color: $white;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .thumbnail-img {
    width: 200px;
    float: left;
    margin-right: 20px;
  }

  .thumbnail-img-feature,  {
    width: 100%;
  }

  .thumbnail-container {
      @include grid-column(12);
      height: auto;
      margin-left: 0;
      padding-bottom: 20px;
      margin-top: 0px;
      margin-bottom: 20px;
      border-bottom: 2px solid $orange;
    }

    .thumbnail-wrap-container-two {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      height: auto;
      .thumbnail-container-feature {
        width: 45%;
        float: left;
        height: auto;
        background-color: $orange;
        padding-bottom: 20px;
        .thumbnail-copy {
          padding: 0 20px;
        }
      }
      .thumbnail-container {
        width: 45%;
        margin-left: 20px;
        border-bottom: none;
        height: auto;
        float: left;
        .thumbnail-copy {
          padding-top: 20px;
        }
      }
      .bottom-copy {
        width: 100%;
        padding: 20px 0;
        margin-top: 20px;
        border-top: 2px solid $orange;
        display: flex;
        flex-wrap: wrap;
        height: auto;
      }
    }



  .sidebar-wrap {
    @include grid-column (4);
    background-color: $light-grey;
    height: auto;
    margin-left: 20px;
    .sidebar-copy {
      padding: 20px 20px 20px 30px;
    }
  }

  .hero {
    height: 200px;
  }

}

@include breakpoint(mobileonly) {
  .nav-wrap {
    text-align: center;
  }

  .thumbnail-copy, .sidebar-copy {
    padding: 20px;
  }

  .hide {
    display: none;
  }

  .thumbnail-container {
    border-bottom: none;
  }
}
//desktop

@include breakpoint(laptop) {

  .content-wrap, .navigation {
    width: 90%;
    margin: auto;
  }

  .hero {
    position: relative;
  }

  .content-wrap {
    display: flex;
    flex-wrap: wrap;
  }

  .thumbnail-img {
    width: 100%;
    float: none;
    margin-right: 0;
  }

  .thumbnail-wrap {
    @include grid-column(9);
    background-color: $white;
    height: auto;
    padding-top: 20px;
  }

  .thumbnail-wrap-container-one {
    @include grid-column(12);
    display: flex;
    flex-wrap: wrap;
    height: auto;
    .thumbnail-container {
      @include grid-column(4);
      height: auto;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 2px solid $orange;
    }
  }


  .thumbnail-wrap-container-two {
    @include grid-column(12);
    display: flex;
    flex-wrap: wrap;
    height: auto;
    .thumbnail-container-feature {
      @include grid-column(8);
      height: auto;
      background-color: $orange;
      padding-bottom: 20px;
      .thumbnail-copy {
        padding: 0 20px;
      }
    }
    .thumbnail-container {
      @include grid-column(4);
      height: auto;
    }
    .bottom-copy {
      @include grid-column(12);
      padding: 20px 0;
      margin-top: 20px;
      border-top: 2px solid $orange;
      display: flex;
      flex-wrap: wrap;
      height: auto;
    }
  }


  .sidebar-wrap {
    @include grid-column (3);
    background-color: $light-grey;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    .sidebar-copy {
      padding: 20px;
    }
  }

  .hero {
    height: 400px;
  }

}
